	:root{
		--primary-color:#6aaf07;    
	}

	*{
		margin:0;
		padding:0;
		box-sizing:border-box;	
	}
	ul li{
		list-style-type:none;	
	}
	a{
		text-decoration:none;
	}
	body{
		font-family: 'Roboto', sans-serif;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6{
		font-family: 'lora', sans-serif;
	}
	h1{
		font-size: 42px;
	}
	h2{
		font-size: 36px;
	}
	h3{
		font-size: 30px;
	}
	h4{
		font-size: 24px;
	}
	h5{
		font-size: 20px;
	}
	h6{
		font-size: 16px;
	}

	.section-head h2{
		font-size: 42px;
	}
	.container{
		max-width: 1170px;
		margin-left: auto;
		margin-right: auto;
		padding-right: 15px;
		padding-left: 15px;	
	}
	.main-header{
		display:flex;
		justify-content: space-between;
		padding: 13px 0px;
		
	}
	.top-bar{
		background-color:#101010;	
		
	}
	/*css for top-left-bar*/

	.top-bar-left ul{
		margin:auto;
	}
	.top-bar-left .info :hover{
		text-decoration:underline;
	}
	.top-bar-left i{
		color:var(--primary-color);
		font-size: 18px;
		
	}
	.top-bar-left ul li{
		display:inline-block;
		font-size:15px;
	}
	.top-bar-left ul li a{
		color:white;
	}
	/*css for top-right-bar*/

	.top-bar-right{
		display:flex;
		margin-right: 34px;
	}
	.social-icon ul{
		display:flex;
		margin: 0px 14px;  
		padding-right: 7px;	
	}
	.social-icon a{
		height: 20px;
		width: 20px;
		display: block;
		color: white;
		padding: 2px 14px;
		font-size: 17px;
	}
	.quate a{
		color: white;
		font-size: 15px;
		font-weight: 600;
		border-left: 2px solid white;
		padding: 0px 20px;
		border-right: 2px solid white;
	}
	.contact-number ul {
		display:flex;
	}
	.contact-number a{
		color:white;
		font-size: 15px;
	}
	.contact-number i{
		color: var(--primary-color);
		padding: 0px 9px;
		font-size: 17px;
		padding-left: 17px;
	}
	.main-navbar{
		display:flex;
	}
	.logo{
		padding: 17px 0;
	}
	.logo img{
		height:65px;
	}
	.navbar-menu{
		display: flex;
		margin: 0px;
		align-items: center;
		margin-left: auto;
	}
	.navbar-menu li{
		list-style: none;
		padding: 12px 8px;
		font-size: 15px;
		font-weight: 600;
	}
	.navbar-menu a{
		text-decoration: none;
		color: black;
		padding: 13px 10px;
	}
	.navbar-menu li a:hover{
		background-color:#a1d169;
		cursor:pointer;
		color:white;
	}
	.navicon{
		display: none;
	}

	.btn {
		display: inline-block;
		font-size: 14px;
		padding:18px 29px;
		background-color: var(--primary-color);
		margin-top: 25px;
		margin-left: 16px;
		font-weight: 600;
		color: white;
		border-bottom: 4px solid black;
	}
	.btn:hover{
		background-color:#90c544;
	}
	/*css for banner-content*/
	.banner {
		width: 100%;
	}
	.box-content{
		padding-top:200px;
		padding-bottom:200px;
		background-color: rgba(0,0,0,0.3);
	}
	.box-content h1{
		line-height: 1.1;
	}
	.box-content .heading-1{
		background-color: var(--primary-color);
		font-size: 63px;
		padding: 15px 33px;
		color: white;
		display: inline-block;
	}
	.box-content .heading-2{
		background-color: white;
		color: black;
		font-weight: 600;
		font-size: 59px;
		padding: 0px 40px;
	}
	.box-content p{
		color: white;
		padding-top: 35px;
		padding-bottom: 35px;
		width: 55%;
		font-size: 17px;
		line-height: 25px;
	}
	.btn-primary{
		margin-top:0px;
		padding: 18px 31px;
	}
	.btn-primary:hover{
		background-color:#90c544;
	}
	/*css for banner-bottom content*/
	.section-1{
		background-color:var(--primary-color);
	}
	.row {
		display: flex;
		flex-wrap: wrap;
		margin-left: -15px;
		margin-right: -15px;
	}
	.col-9{
		width:75%;
		padding-left:15px;
		padding-right:15px;
	}
	.col-3{
		width:25%;
		padding-left:15px;
		padding-right:15px;
	}
	.tree-care{
		padding: 53px 0px;
	}
	.tree-care h2{
		color:white;
		font-size: 44px;
	}
	.content{
		display:flex;
	}
	.button-2{
		text-align: center;
		margin-top: 24px;
		padding-left: 89px;
	}
	.btn-secondary{
		background-color: #221f1f;
		border-bottom: 3px solid white;
		padding: 21px 33px;
	}
	.btn-secondary:hover{
		background-color:#2e2c2c;
	}
	/*about us*/
	.col-6{
		width:50%;
		padding:15px;
		margin:0px
	}
	.section-2{
		padding-top: 105px;
		padding-bottom: 80px
	}
	.about-us{
	   
		position:relative;
	}
	.about-us img{
		width: 100%;
		height: 622px;
		padding-left: 50px;
	}
	.about-content{
		margin-top: 53px;
		/*margin-bottom: 80px;*/
		padding-left: 50px;
	}
	.about-icon h4{
		font-size: 28px;
		color: #8cc145;
		padding-left: 10px;
	   /* padding-left: 30px;*/
		margin-bottom: 10px;
	}
	.about-icon {
	display:flex;
	}
	.about-heading h1{
		font-size: 62px;
		line-height: 68px;
	}
	.about-heading p{
		font-size: 15px;
		margin-top: 25px;
		line-height: 23px;
		color: #abaaaa;
	}
	.about-list i{
		background-color: var(--primary-color);
		padding: 8px 10px;
		color: white;
		margin-right: 10px;
	}
	.about-list li{
		margin-top: 22px;
		font-size: 15px;
		margin-bottom: 22px;
		font-weight: 600;
	}
	.about-contact{
		display: flex;
		align-items: center;
		line-height: 19px;
	}
	.about-contact i{
		background-color:#ecf3f9 ;
		padding: 28px 30px;
		font-size: 24px;
		color: var(--primary-color);
		margin-right: 17px;
		
	}
	.left-about i:hover{
		 background-color:#efefef;
		 cursor:pointer;
	}
	.about-contact li{
		font-size: 12px;
		font-weight: 600;
		color: grey;
	}
	.right-about p{
		font-size: 17px;
		font-weight: 600;
		color: #a9a0a0;
		padding-bottom: 8px
	}
	.right-about span{
		font-size: 17px;
		font-weight: 600;

	}
	.about-us .second{
		position: absolute;
		width: 325px;
	   bottom: -45px;
		height: 270px;
		right: -33px;
	}
	.about-us .second img{
		width: 325px;
		object-fit:cover;
	}
	.line{
		border: 2px solid var(--primary-color); /*#6fab18;*/
		width: 273px;
		bottom: 257px;
		position: absolute;
		right: -30px;
		
	}
	.year-border{
		border: 1px dashed lightgrey;
		padding: 30px 8px;
		text-align: center;
	}
	 .years span{
		font-size:46px;
		color: var(--primary-color);
		
	}
	.years{
		width: 206px;
		background-color: white;
		padding: 12px 11px;
		position: absolute;
		top: 15px;
		left: 1px;
		box-shadow: 9px 5px 23px 0px #e3e2e2;
	}
	.years p{
		font-size: 26px;
		font-weight: 600;
	}
	.section-4{
		background-color: #f4faf8;
		margin-top: 65px;
	}
	.heading-section h4{
		color: var(--primary-color);
		font-size: 25px;
		font-weight: 700;
		text-align: center;
		margin-bottom: 8px;
	}
	.expert-heading h2{
		font-size: 62px;
		text-align: center;
		
	}
	.heading-section{
		padding-top: 125px;
		display: flex;
		align-items: center;
	   margin-left: 476px;
		
	}
	.col-4 {
		width: 33.33%;
		padding-left: 15px;
		padding-right: 15px;
		
	}
	.experience{
		text-align: center;
		padding-top: 20px;
		padding-bottom: 20px;
		box-shadow: 0 0px 4px rgb(230 230 230 / 30%), 0 0px 30px rgb(0 0 0 / 16%)
	}
	.experience i {
		font-size: 48px;
		padding: 15px 30px
	}
	.experience h4{
		font-size: 23px;

	}
	.qualities{
		width: 270px;
		padding-right: 25px;
		margin-bottom: 25px;
	}
	.col-8{
		width:66.66%;
		padding-left:15px;
		padding-right:15px;
	}
	.experts-section{
			padding-top: 25px;
			padding-bottom: 100px;
	}
	.qualities .active{
		background-color:var(--primary-color);
		color: white;
	}
	.experience:hover{
		background-color: var(--primary-color);
		color:white;
		cursor:pointer;
	}
	.experts-image img{
		width: 100%;
		height:450px;
		object-fit: cover;
	}
	.col-12{
		width:100%;
		padding-left:15px;
		padding-right:15px;
	}
	.experts-heading h6{
		margin-top: 15px;
		font-size: 24px;
		margin-bottom: 15px;
		line-height: 34px;
	}
	.experts-heading p{
		font-size: 15px;
		margin-bottom: 10px;
		color: grey;
		line-height: 22px;
	}
	.section-5 {
		padding-bottom: 111px;
		padding-top: 119px;
	}

	.services-section{
		display: flex;
		margin-bottom: 15px;
		justify-content: space-between;
	}
	.left-icon{
		display: flex;
		align-items: center;
	}
	.service-heading h4{
		color: var(--primary-color);
		font-size: 25px;
		font-weight: 700;
	}
	.service-heading h2{
		font-size: 64px;
		padding-top: 6px;
	}
	.service-button{
		display:inline-block;
	}
	.btn-service{
		padding: 20px 30px;
	}

	.btn-service:hover{
		background-color:#90c544;
	}
	.our-services{
		border: 1px solid rgba(0,0,0,0.1);
		padding-top: 18px;
		margin: 9px 0px;
		display: flex;
	  
	}
.service-icon  i{
	padding-left: 25px;
    padding-right: 21px;
    font-size: 43px;
    padding-top: 6px;
    color: var(--primary-color);
}
	.services{
		padding-right: 60px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.services h5{
		font-size: 25px;
	}
	.services p{
		font-size: 14px;
		color: grey;
		padding-top: 10px;
		line-height: 23px;
		padding-bottom: 22px;
	}
	/*.left-about{
		padding-bottom:70px;
		padding-left: 35px;
	}*/
	.col-3{
		width: 25%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.all-project{
		display: flex;
		align-items: center;
		margin-top: 60px;
		margin-left: 50px;
	}
	.section-6{
		height: 195px;
	}
	.number h5{
		font-size: 51px;
		color: var(--primary-color);
		padding-right: 10px;
	}
	.project-complete p{
		color: white;
		font-size: 13px;
		font-weight: 600;
		width: 70px;
		padding-top: 3px;
	}
	.section-7{
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.our-projects{
		margin:auto;
	}
	.project-heading{
		text-align: center;
	}
	.heading-first h4{
		color: var(--primary-color);
		font-size: 25px;
		font-weight: 700;
	}
	.latest-project h2{
		font-size: 62px;
	}
	.heading-first {
		display: flex;
		align-items: center;
		margin-left: 219px
	}
	.img img{
		width: 100%;
		height: 470px;
	}
	.project-gallery {
		position: relative;
		background-color: rgba(0,0,0,0.0);
		margin-top: 35px;
		margin-bottom: 35px;
	}
	.bottom-para{
		position: absolute;
		bottom: 31px;
		color: white;
		padding-left: 25px;
		padding-bottom: -1px;
		line-height: 33px;
	}
	.bottom-para span{
		background-color: var(--primary-color);
	   padding: 14px 23px;
	}
	.bottom-para span:hover{
		background-color: #83b936;
		cursor:pointer;
	}
	 .bottom-para span i{
		font-size: 28px;
	}
	.para-2{
		bottom: 44px;
	}
	.para-2 h5{
		padding-bottom: 33px;
	}
	.bottom-para p {
		font-size: 17px;
	}
	.bottom-para h5{
		font-size: 27px;
	}

	.processing-work .col-6{
		width:50%;
		margin:0px;
		padding:0px;
	}
	.processing-work .row{
		display: flex;
		flex-wrap: wrap;
		margin-left:0px;
		margin-right:0px;
	}
	.work-process img{
		width: 50vw;
		height: 716px;
		float: right;
		object-fit: cover;
	}
	.right-section{
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 30px;
		width: 50vw;
		height: 716px;
		background-color: #132728;
}
	.first-heading h4{
		color: var(--primary-color);
		font-size: 25px;
		font-weight: 700;
	}
	.first-heading {
		display: flex;
		align-items: center;
	}
	.first-heading img{
		display:inline-block;
	}
	.second-heading h2{
		font-size: 62px;
		padding-top: 12px;
		padding-bottom: 12px;
		color: white;
	}
	.experts{
		display: flex;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 30px;
	}
	.work-icon i{
		color: black;
		font-size: 32px;
		background-color: white;
		padding: 21px 24px;
		margin-right: 27px;
	}

	.work-icon{
		position:relative;
	}
	.work-icon span{
		display: block;
		color: white;
		width: 26px;
		height: 25px;
		background-color: var(--primary-color);
		text-align: center;
		padding-top: 4px;
		position: absolute;
		top: -11px;
		font-size: 14px;
		right: 4px;
		margin-right: 12px;
	}
	.top-heading h5{
		color: white;
		font-size: 27px;
	}

	.top-heading p{
		color: white;
		font-size: 13px;
		padding-top: 10px;
		width: 389px;
		line-height: 22px;
	}
	.first-heading1{
		display: flex;
		align-items: center;
		padding-left: 225px;
	}
	.top-head{
		text-align: center;
		margin: auto;
		margin-bottom: 22px;
	}
	.top-head h4{
		color:var(--primary-color);
		font-size: 19px;
		font-weight: 700;
	}
	.top-head h2{
		color:black;
	}
	.specilities{
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.images img{
		width: 100%;
		height: 370px;
		object-fit: cover;
		padding: 8px;
		border: 1px dashed grey;
	}
	/*.expert-image{
		padding-left: 28px;
	}*/
	.name h4{
		font-size: 25px;
		text-align: center;
		padding-top: 15px;
	}
	.name  p{
	text-align: center;
    font-size: 15px;
    color: grey;
    margin-top: 5px;
    margin-bottom: 12px;
	}
	/*.icon{
	margin-left: 25px;
	}*/
	.icon ul{
		display: flex;
		align-items: center;
		margin: auto;
		justify-content: center;
	}

	.icon ul li{
		background-color: #dfefc8;
		padding-top: 6px;
		margin-right: 11px;
		padding-bottom: 6px;
	}
	.icon ul li:hover{
		background-color: #c9dbb0;
	}
	.icon  li a{
		color: var(--primary-color);
		padding: 6px 11px;
		font-size: 15px;
	}
	.client{
		padding-top: 70px;
	    padding-bottom: 157px;
		background-color: #f4faf8;
	}
	.our-client{
		text-align: center;
		padding-left: 290px;
	}

	.icon1 h4{
		color: var(--primary-color);
		font-size: 25px;
		font-weight: 700;
	}
	.icon1{
		display: flex;
		align-items: center;
		margin-left: 500px;
	}
	.our-client h2{
		font-size: 62px;
	}
	.clients{
		display: flex;
		align-items: center;
	}
	.client-information{
		background-color: white;
		padding: 21px 19px;
		margin-top: 30px;
		margin-bottom: 15px;
		box-shadow: 11px 4px 14px #f1f1f1;
	}
	.client-image img {
		width: 72px;
		height: 72px;
		margin-right: 20px;
		object-fit: cover;
	}
	.client-name h5{
		font-size: 25px;
	}
	.client-name p{
		color: var(--primary-color);
		font-size: 17px;
		padding: 9px 0px
	}
	.para p{
		font-size: 15px;
		color: grey;
		line-height: 23px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.blog{
		padding-top: 101px;
		padding-bottom: 100px;
	}
	.blog-section{
		margin:auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.blog-section h4{
		color: var(--primary-color);
		font-size: 25px;
		font-weight: 700;
		text-align:center;
	}
	.blog-section h2{
		 font-size: 62px;
		 text-align:center;
	}
	.image img{
		width: 370px;
	}
	.blog-icon ul{
		display:flex;
	}
	.blog-icon ul li{
		padding-left: 17px;
		padding-top: 25px;
	}
	.blog-heading{
		display: flex;
		align-items: center;
		margin-left: 260px;
	}
	.blog-icon li p{
		margin-right: 49px;
		color:grey;
	}
	.blog-icon li i{
		font-size: 20px;
		color: var(--primary-color);
	}
	.admin h4{
		padding-top: 17px;
		padding-bottom: 17px;
		padding-left: 19px;
		padding-right: 35px;
		line-height: 31px;
		font-size: 25px;
	}
	.blog-image{
		border: 1px solid rgba(0,0,0,0.1);
		width: 372px;
	}
	.image{
		position:relative;
	}
	.image span{
		position: absolute;
		top: 215px;
		right: 0;
		background-color: var(--primary-color);
		color: white;
		padding: 7px 22px;
	}
	.Lawnir img{
		width: 163px;
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.about-lawnir p{
		font-size: 15px;
		line-height: 22px;
	}
	.lawnir-icon{
		padding-top: 23px;
	}
	.lawnir-icon li {
		display: flex;
		padding-top: 5px;
		padding-bottom: 10px;
	}
	.lawnir-icon li a {
		font-size: 20px;
		color:var(--primary-color);
	}
	.lawnir-icon li p {
		 font-size: 14px;
		padding-left: 22px;
		line-height: 20px;
	}
	.contact-us{
		 background-color:#132728;
		 padding-top: 115px;
	}
 
	.information{
		color:white;
	
	}
	.menu-bar li {
		padding-top: 9px;
		padding-bottom: 9px;
	}
	.title{
		font-size: 25px;
		padding-top: 0;
		padding-bottom: 8px;
	}
	.middle-section{
	 padding-left:40px;
	}
	.menu-bar li a {
		color: white;
		font-size: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.menu-bar li a:hover{
		color:var(--primary-color);
	}
 
	.post p{
		font-size: 15px;
		line-height: 21px;
		padding-top: 17px;
		padding-bottom: 17px;
	}
	.post span{
		color:var(--primary-color);
	}
	.media {
		 display:flex;
		 padding-top: 35px;
	}
	.media li{
		padding: 11px 17px;
		background-color: #2b3d3f;
		margin-right: 15px;
	}
	.media li a{
		 font-size: 19px;
		color: white;
	}
	.media li.active {
		background-color: var(--primary-color);
		color: white;
	}
	.media li:hover:not(.active) {
		background-color: var(--primary-color);
		color: white;
		cursor:pointer;
   }
	.form{
		position:relative;
	}
	input[type=address]{
		width: 100%;
		padding: 20px 20px;
		margin: 8px 104px 8px 0px;
		font-size: 16px;
		box-sizing: border-box;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.form span{
		position: absolute;
		top: 28px;
		background-color:var(--primary-color);
		padding: 13px 24px;
		right: 9px;
		font-size: 18px;
	}
	.form span:hover{
		 background-color: #83b936;
		cursor:pointer;
	}
	.footer{
		background-color:black;
	}
	.footer p{
		font-size: 13px;
		text-align: center;
		color: white;
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.footer span{
		color:var(--primary-color);
	}
	.footer i{
		font-size: 13px;
		margin-right: 5px;
		margin-left: 3px;
	}
 @media only screen and (max-width:1024px){
	h1{ 
		font-size: 42px; 
	}
	h2{
		font-size: 33px;
	}
	h3{
		font-size: 18px
	}
	h4{
		font-size: 24px;
	}
	h5{
		font-size: 17px;
	}
	h6{
		font-size: 18px;
	}
	.container{
		max-width:968px;
		padding-left:15px;
		padding-right:15px;	
	}
	.top-bar-right {
		margin-right: 44px;
	}
	.navbar-menu li {
		padding: 12px 4px;
	}
	.btn{
		margin-left: 0px;
	}
	.tree-care h2 {
		font-size: 36px;
	}
	.button-2 {
		padding-left: 55px;
	}
	.about-heading h1 {
		font-size: 55px;
	}
	.about-heading p {
		font-size: 14px;
		line-height: 22px;
	}
	.about-list li {
		font-size: 10px;
		font-weight: 600;
	}
	.about-list i {
		margin-right: 5px;
	}
	.heading-section {
		margin-left: 411px;
	}
	.expert-heading h2 {
		padding-left: 82px;
	}
	.qualities {
		width: 230px;
	}
	.experience h4 {
		font-size: 20px;
	}
	.experts-heading h6 {
		margin-bottom: 9px;
		line-height: 34px;
	}
	.experts-heading p {
		font-size: 14px;
		line-height: 18px;
	}
	.our-services {
		padding-top: 15px;
	}
	.service-icon i {
		padding-left: 21px;
		padding-right: 18px;
		font-size: 34px;
		padding-top: 6px;
	}
	.services {
		padding-right: 20px;
	}
	.services h5 {
		font-size: 19px;
	}
	.services p {
		font-size: 14px;
		padding-top: 10px;
		line-height: 23px;
	}
	.bottom-para p {
		font-size: 16px;
	}
	.bottom-para h5 {
		font-size: 23px;
	}
	.bottom-para h5 {
		font-size: 23px;
	}
	
	.second-heading h2 {
		font-size: 52px;
		padding-top: 6px;
		padding-bottom: 15px;
	}
	.experts {
		padding-top: 17px;
		padding-bottom: 25px;
	}
	.work-icon i {
		font-size: 32px;
		padding: 16px 17px;
		margin-right: 24px;
	}
	.top-heading p {
		font-size: 13px;
		padding-top: 10px;
		width: 385px;
	}
	.work-icon span {
		width: 24px;
		height: 24px;
		top: -9px;
		font-size: 13px;
		right: 4px;
	}
	.first-heading1 {
		padding-left: 167px;
	}
	.icon1 {
		margin-left: 390px;
	}
	.our-client {
		padding-left: 170px;
	}
	.para p {
		font-size: 13px;
		color: grey;
		line-height: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.blog-image {
		width: 300px;
	}
	.image img {
		width: 298px;
		object-fit: cover;
		height: 266px;
	}
	.image span {
		top: 234px;
		right: 0;
		padding: 7px 22px;
	}
	.blog-icon ul li {
		padding-left: 23px;
		padding-top: 25px;
	}
	.blog-icon li p {
		margin-right: 12px;
		font-size: 14px;
	}
	.admin h4 {
		font-size: 20px;
	}
	.contact-us {
		padding-top: 115px;
		padding-bottom: 107px;
	}
	.title {
		padding-bottom: 11px;
	}
	.about-lawnir p {
		font-size: 14px;
		line-height: 21px;
		width: 243px;
	}
	.menu-bar li {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.menu-bar li a {
		font-size: 14px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.post p {
		font-size: 14px;
		line-height: 21px;
		padding-top: 11px;
	}
	.post span {
		font-size: 14px;
	}
	input[type=address] {
		font-size: 14px;
		margin-top: 16px;
	}
	.form span {
		top: 24px;
		font-size: 16px;
	}
	.media li {
		padding: 8px 11px;
		margin-right: 12px;
	}
	.footer{
		background-color:black;
	}
	.footer p{
	font-size: 13px;
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
	}
	.footer span{
		color:var(--primary-color);
	}
	.footer i{
		font-size: 13px;
		margin-right: 5px;
		margin-left: 3px;
	}
	
 @media only screen and (max-width:768px){
	 .container{
		max-width:720px;
		padding-left:15px;
		padding-right:15px;
	}
	.top-bar-right {
		margin-right: 31px;
	}
	.social-icon a {
		padding: 2px 12px;
		font-size: 14px;
	}
	.quate a {
		font-size: 14px;
		padding: 0px 13px;
	}
	.contact-number a {
		font-size: 14px;
	}
	.logo {
		padding: 9px 0;
	}
	.logo img {
		height: 46px;
	}
	.navbar-menu li {
		padding: 11px 6px;
		font-size: 11px;
		font-weight: 600;
	}
	.btn {
		font-size: 11px;
		padding: 14px 7px;
		margin-top: 12px;
	}
	.navbar-menu a {
		padding: 13px 5px;
	}
	.box-content {
		padding-top: 170px;
		padding-bottom: 170px;
	}
	.box-content .heading-1 {
		background-color: #6aaf07;
		font-size: 45px;
		padding: 10px 21px;
	}
	.box-content .heading-2 {
		font-size: 46px;
		padding: 0px 22px;
	}
	.box-content p {
		padding-top: 25px;
		padding-bottom: 25px;
		width: 62%;
		font-size: 14px;
		line-height: 23px;
	}
	.btn {
		font-size: 12px;
		padding: 14px 14px;
		margin-top: 12px;
	}
	.tree-care {
		padding: 40px 0px;
	}
	.tree-care h2 {
		font-size: 26px;
	}
	.button-2 {
    padding-left: 36px;
}
	.btn {
		font-size: 12px;
		padding: 14px 14px;
		margin-top: 12px;
	}
	.section-2 {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.about-us img {
		padding-left: 30px;
	}
	.years {
		width: 169px;
		padding: 13px 12px;
		top: 15px;
		left: -4px;
	}
	.year-border {
		padding: 20px 18px;
	}
	.years span {
		font-size: 35px;
	}
	.years p {
		font-size: 19px;
	}
	.about-content {
		padding-left: 20px;
	}
	.about-contact i {
		padding: 21px 21px;
		font-size: 23px;
		margin-right: 11px;
	}
	.right-about p {
		font-size: 15px;
	}
	.right-about span {
		font-size: 15px;
	}
	.about-us .second {
    width: 235px;
    bottom: -30px;
    height: 235px;
    right: -33px;
    object-fit: cover;
	}
	.line {
		width: 206px;
		bottom: 234px;
	}
	.about-icon h4 {
		font-size: 23px;
		padding-top: 7px;
		padding-left: 9px;
		margin-bottom: 10px;
	} 
	.about-heading h1 {
		font-size: 37px;
		padding-top: 15px;
		line-height: 44px;
	}
	.about-heading p {
	margin-top: 20px;
    font-size: 12px;
    line-height: 20px;
}
	.qualities {
		width: 175px;
	}
	.experience i {
		font-size: 40px;
		padding: 15px 30px;
	}
	.experience h4 {
		font-size: 15px;
	}
	.heading-section {
		margin-left: 324px;
	}
	.expert-heading h2 {
		padding-left: 69px;
		font-size: 47px;
	}
	.experts-image img {
		height: 340px;
	}
	.experts-heading h6 {
		margin-top: 10px;
		font-size: 18px;
		line-height: 28px;
	}
	.experts-heading p {
		font-size: 12px;
		line-height: 21px;
	}
	.section-5 {
		padding-bottom: 84px;
		padding-top: 84px;
	}
	.service-heading h4 {
		font-size: 23px;
}
	.service-heading h2 {
		font-size: 44px;
		padding-top: 3px;
	}
	.btn {
		font-size: 12px;
		padding: 14px 18px;
		
		margin-top: 12px;
	}
	.our-services {
		padding-top: 10px;
	}
	.service-icon i {
		padding-left: 12px;
		padding-right: 8px;
		font-size: 27px;
		padding-top: 6px;
	}
	.services h5 {
		font-size: 16px;
	}	
	.services p {
		font-size: 12px;
		padding-top: 5px;
		line-height: 17px;
	}
	.section-6 {
		height: 186px;
}
	.all-project {
		padding-top: 17px;
		padding-bottom:20px;
		margin-left: 25px;
	}
	.number h5 {
		font-size: 35px;
	}
	.project-complete p {
		color: white;
		font-size: 12px;
	}
	.img img {
		height: 408px;
	}
	.section-7 {
		padding-top: 80px;
		padding-bottom: 75px;
	}
	.bottom-para {
		padding-left: 19px;
		line-height: 28px;
	}
	.bottom-para p {
    font-size: 13px;
}
	.bottom-para h5 {
		font-size: 18px;
	}
	.bottom-para span {
		background-color: var(--primary-color);
		padding: 11px 21px;
	}
	.bottom-para span i{
		font-size: 20px;
	}
	.para-2 h5 {
		padding-bottom: 20px;
	}
	.heading-first {
		margin-left: 167px;
	}
	.heading-first h4 {
		color: var(--primary-color);
		font-size: 23px;
	}
	.latest-project h2 {
		font-size:44px;
	}
	.work-process img {
		height: 670px;
	}
	.right-section {
		height: 670px;
		padding-left: 20px;
	}
	.first-heading h4 {
		font-size: 22px;
	}
	.second-heading h2 {
		font-size: 44px;
	}
	.experts {
		padding-top: 24px;
		padding-bottom: 31px;
}
	.work-icon i {
		font-size: 27px;
		padding: 13px 13px;
	}
	.work-icon span {
		width: 22px;
		height: 22px;
		top: -9px;
		font-size: 11px;
		right: 13px;
		margin-right:0px;
	}
	.top-heading h5 {
		color: white;
		font-size: 25px;
	}
	.top-heading p {
		font-size: 11px;
		padding-top: 6px;
		width: 263px;
	}
	.first-heading1 {
		padding-left: 124px;
	}
	.images img {
		height: 275px;
		padding: 5px;
	}
	.name h4 {
		font-size: 17px;
		padding-top: 10px;
	}
	.name p {
		font-size: 12px;
	}
	.icon ul li {
		margin-right: 4px;
	}
	.icon li a {
		padding: 6px 8px;
		font-size: 13px;
	}
	.icon1 {
   margin-left: 261px;
}
	.our-client {
		padding-left: 107px;
	}
	.our-client h2 {
		font-size: 44px;
	}
	.client {
		padding-top: 70px;
		padding-bottom: 75px;
	}
	.client-image img {
		width: 59px;
		height: 60px;
		margin-right: 12px;
	}
	.client-name h5 {
		font-size: 18px;
	}
	.client-name p {
		font-size: 14px;
		padding: 8px 0px;
	}
	.para p {
		font-size: 11px;
	}
	.blog {
		padding-top: 60px;
		padding-bottom: 80px;
	}
	.blog-heading {
		display: flex;
		align-items: center;
		margin-left: 181px;
	}
	.blog-section h4 {
		font-size: 22px;
	}
	.blog-section h2 {
		font-size: 44px;
	}
	.blog-image {
		width: 222px;
	}
	.image img {
		width: 220px;
		height: 240px;
	}
	.image span {
		top: 213px;
		font-size: 15px;
		right: 0;
		padding: 5px 13px;
	}
	.blog-icon ul li {
		padding-left: 12px;
		padding-top: 8px;
	}
	.blog-icon li i {
		font-size: 18px;
	}
	.blog-icon li p {
		margin-right: 14px;
		font-size: 11px;
		padding-top: 5px;
}
	.admin h4 {
		font-size: 14px;
		padding-left: 17px;
		line-height: 21px;
	}
	.admin{
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.contact-us {
		padding-top: 95px;
		padding-bottom: 95px;
	}
	.Lawnir img {
		width: 153px;
	}
	.about-lawnir p {
		font-size: 12px;
		line-height: 20px;
		width: 203px;
	}
	.lawnir-icon li a {
		font-size: 16px;
	}
	.lawnir-icon li p {
		font-size: 12px;
		padding-left: 15px;
	}
	.middle-section {
		padding-left: 58px;
	}
	.menu-bar li {
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.menu-bar li a {
		font-size: 12px;
	}
	.title{
		font-size: 19px;
	}
	.post p {
		font-size: 11px;
		line-height: 21px;
		padding-top: 2px;
	}
	.post span {
		font-size: 13px;
	}
	input[type=address] {
    font-size: 11px;
    margin-top: 8px;
	padding: 17px 8px;
}
.form span {
    top: 19px;
    font-size: 12px;
	padding: 7px 16px;
    right: 7px;
}
	.media li {
		padding: 5px 9px;
		margin-right: 8px;
	}
	.media li a {
		font-size: 15px;
	}
	.footer{
		background-color:black;
	}
	.footer p{
	font-size: 13px;
    text-align: center;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
	}
	.footer span{
		color:var(--primary-color);
	}
	.footer i{
		font-size: 13px;
		margin-right: 5px;
		margin-left: 3px;
	}
 }
 @media only screen and (max-width:591px){
	 .container {
		width:100%;
		padding-left: 15px;
		padding-right: 15px;
		
	}
	.col-6{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-4{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-3{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-9{
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-12 {
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.top-bar-right{
		display: none;
	}
	.logo img {
		height: 40px;
	}
	.navicon{
		display: none;
	}
	
	.navicon{
		display: block;
	}
	.navicon i{
		margin-top: 14px;
		font-size: 18px;
		background-color: var(--primary-color);
		padding: 5px 5px;
		color: white;
		border-radius: 5px
	}
	.navbar-menu a {
		padding: 12px 36px;
	}
	.main-navbar .button .btn{
		display: none;
	}
	.main-navbar {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.navbar-menu{
		left: -160px;
		transition: all 0.5s;
		position: absolute;
		top: 0;
		background-color: #fff;
		height: 100vh;
		width: 150px;
		display: block;
	}
	.navbar-menu.show{
		left: 0;
	}
	
	.top-bar-left ul li {
		font-size: 14px;
	}
	.btn {
		margin-left: 92px;
		font-size: 10px;
		padding: 10px 13px;
		margin-top: 14px;
		border-bottom: 3px solid black;
	}
	.box-content {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.box-content .heading-1 {
		background-color: var(--primary-color);
		font-size: 26px;
		padding: 10px 21px;
	}
	.box-content .heading-2 {
		font-size: 27px;
		padding: 11px 22px;
		font-weight: 600;
	}
	.box-content p {
		padding-top: 30px;
		padding-bottom: 30px;
		width: 100%;
		font-size: 13px;
		line-height: 19px;
	}
	.btn-primary {
		margin-left:0px;
		margin-top: 0px;
	}
	.tree-care {
		padding: 0px 0px;
	}
	.tree-care h2 {
		font-size: 17px;
	}
	.button-2 {
		padding-left: 0px;
		margin-top: 0px;
		text-align: left;
}
	.btn-secondary{
		margin-left: 0px;
		margin-bottom: 3px;
		border-bottom: 3px solid white;
}	
	.section-2 {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.about-us img {
		width: 327px;
		height: 490px;
		padding-left: 19px;
	}
	.line {
		border: 2px solid var(--primary-color);
		bottom: 186px;
		width: 182px;
		margin-right: 21px;
	}
	.years {
		width: 145px;
		padding: 10px 12px;
		top: 18px;
		left: -6px;
	}
	.years span {
		font-size: 30px;
	}
	.years p {
		font-size: 16px;
	}
	.about-us .second {
		width: 200px;
		bottom: -23px;
		height: 187px;
		right: -10px;
	
	}
	.about-icon img{
		width: 49px;
		height: 40px;
	}
	
	.about-icon h4 {
		font-size: 20px;
		padding-left: 4px;
	}
	.about-heading h1 {
		font-size: 26px;
		padding-top: 9px;
		line-height: 33px;
	}
	.about-heading p {
		margin-top: 10px;
		font-size: 13px;
		padding-right: 0px; 
		line-height: 20px;
	}
	.about-list li {
		font-size: 10px;
		font-weight: 700;
	}
	 .about-list i {
		padding: 5px 7px;
		margin-right: 7px;
	}
	
	.about-contact {
		padding-top: 5px
	}
	.about-contact i {
		padding: 17px 19px;
		font-size: 18px;
		margin-right: 10px;
	}
	.right-about p {
		font-size: 12px;
		padding-bottom: 2px;
	}
	 .right-about span {
		font-size: 13px;
	}
	.heading-section {
		margin-left: 75px;
		padding-top: 80px;
	}
	.heading-section img {
		width: 40px;
	}
	.heading-section h4 {
		color: var(--primary-color);
		font-size: 18px;
		font-weight: 600;
		padding-top: 6px;
	}
	.expert-heading h2 {
		padding-left: 15px;
		font-size: 27px;
	}
	.qualities {
		width: 260px;
		padding-left: 52px;
		padding-right: 0px;
	}
	.experts-section {
		padding-top: 25px;
		padding-bottom: 55px;
	}
	.experts-image img {
		height: 300px;
		padding-left: 10px;
	}
	.experts-heading h6 {
		margin-top: 6px;
		font-size: 14px;
		line-height: 20px;
		padding-left: 10px;
	}
	.experts-heading p {
		font-size: 11px;
		line-height: 15px;
		padding-left: 10px;
	}
	.section-5 {
		padding-bottom: 70px;
		padding-top: 70px;
	}
	.services-section {
		display: block;
		margin-bottom: 15px;
		justify-content: space-between;
	}
	.service-heading h4 {
		font-size: 17px;
	}
	.service-heading h2 {
		font-size: 27px;
		padding-top: 3px;
		text-align: center;
	}
	.left-icon {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.service-icon i {
		padding-left: 12px;
		padding-right: 17px;
		font-size: 30px;
	}
	.services h5 {
		font-size: 20px;
	}
	.services p {
		font-size: 13px;
	}
	.section-6 {
		height: 580px;
	}
	.all-project {
		padding-top: 0;
		display:block;
		margin-top: 50px;
		align-items: center;
		padding-bottom: 0;
		margin-left: 25px;
		text-align: center;
	}
	.number h5 {
		font-size: 40px;
	}
	.project-complete p {
		font-size: 13px;
		text-align: center;
		width: auto;
	}
	.project-gallery {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.heading-first {
		margin-left: 50px;
	}
	.heading-first img{
		width: 40px;
	}
	.heading-first h4 {
		font-size: 17px;
	}
	.latest-project h2 {
		font-size: 26px;
	}
	
	.processing-work .col-6{
		width:100%;
	}
	.work-process img {
		width: 100%;
		height: 500px;
	}
	.right-section {
		width: 100%;
		padding-top: 45px;
		padding-bottom: 45px;
		height: 500px;
	}
	.experts {
		padding-top: 24px;
		padding-bottom: 15px;
	}
	.first-heading h4 {
		font-size: 17px;
	}
	.second-heading h2 {
		font-size: 27px;
		padding-top: 2px;
		padding-bottom: 8px;
	}
	.work-icon i {
		font-size: 20px;
		padding: 17px 18px;
		margin-right: 19px;
	}
	.work-icon span {
		width: 17px;
		height: 17px;
		top: -8px;
		font-size: 9px;
		right: 16px;
		margin-right: -4px;
	}
	.top-heading h5 {
		
		font-size: 18px;
	}
	.top-heading p {
		font-size: 11px;
		padding-top: 2px;
		width: 228px;
	}
	.first-heading1 {
		padding-left: 72px;
	}
	.top-head h4 {
		font-size: 17px;
	}
	.second-heading h2 {
		font-size: 27px;
	}

	.name h4 {font-size: 23px;
		padding-top: 10px;
	}
	.name p {
		font-size: 14px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.icon{
		margin-bottom: 15px;
		margin-top: 12px;
	}
	.icon ul li {
		margin-right: 5px;
		padding: 4px 3px;
	}
	.icon li a {
		padding: 6px 7px;
		font-size: 13px;
}
	.icon1 {
		margin-left: 105px;
	}
	.icon1 h4 {
		font-size: 17px;
		font-weight: 600;
	}
	.our-client {
		padding-left: 39px;
	}
	.our-client h2 {
		font-size: 27px;
	}
	.client {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.client-information {
		margin-top: 15px;
		margin-bottom: 15px;
		}
	
	.client-image img {
		width: 67px;
		height: 67px;
		margin-right: 20px;
	}
	.client-name h5 {
		font-size: 21px;
	}
	.client-name p {
		font-size: 14px;
		padding: 5px 0px;
	}
	.para p {
		font-size: 12px;
	}
	.blog {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	.blog-heading {
		margin-left: 81px;
	}
	.blog-heading img{
		width: 40px;
	}
	.blog-section h4 {
		font-size: 17px;
	}
	.blog-section h2 {
		font-size: 27px;
	}
	.blog-image {
		width: 100%;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	.image img {
		width: 100%;
	}
	.blog-icon ul li {
		padding-left: 2px;
		padding-top: 8px;
	}
	.blog-icon li i {
		font-size: 22px;
		margin-right: 12px;
		margin-left: 18px;
	}
	.blog-icon li p {
		margin-right: 30px;
		font-size: 12px;
		padding-top: 3px;
	}
	.admin h4 {
		font-size: 17px;
		line-height: 25px;
	}
	/*contact us css*/
	.Lawnir img {
		width: 163px;
	}
	.about-lawnir p {
		font-size: 13px;
		line-height: 25px;
		width: 274px;
	}
	.lawnir-icon li a {
		font-size: 20px;
		padding-top: 5px;
	}
	.lawnir-icon li p {
		font-size: 12px;
		padding-left: 17px;
		line-height: 22px;
	}
	/*middle part*/
	.middle-section {
		padding-left: 0px;
		padding-top: 10px;
	}
	.title {
		font-size: 23px;
		margin-top: 25px;
	}
	.post p {
		font-size: 12px;
		line-height: 22px;
		padding-top: 0px;
		width: 241px;
	}
	.post span {
		font-size: 14px;
	}
	
	input[type=address] {
		font-size: 15px;
		margin:0px;
	}
	.form span {
		top: 7px;
		font-size: 17px;
		padding: 10px 22px;
		right: 7px;
	}
	.media {
		display: flex;
		padding-top: 25px;
	}
	.media li {
		padding: 11px 16px;
		margin-right: 12px;	
	}
	.contact-us {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	/*footer section*/
	.footer p {
		font-size: 11px;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
 }




