//services
.our-service{
	padding-top: 75px;
	background-color:#6c3eee;
	.main-bx{
		display:flex;
		padding-bottom: 50px;
		.title{
			.first-heading{
			padding-bottom: 15px;
				h5{
					color: #602dec;
					margin: 0;
					font-size: 17px;
					color:$white;
				}
			}
			.second-heading{
				h2{
					margin: 0;
					font-weight: 800;
					width: 553px;
					font-size: 43px;
					color: $white;
					line-height: 55px;
				}
			}
		}
		.main-box{
			display:flex;
			.left-para{
				p{
					width: 283px;
					font-size: 16px;
					color: white;
					line-height: 30px;
				}
			}
			.right-para{
				.services{
					padding-left: 16px;
					color:$white;
					li{
						font-size: 17px;
						padding-bottom: 19px;
						i{
							color: #5f2dee;
							padding: 4px 5px;
							background-color: $secondary;
							border-radius: 74px;
							font-size: 10px;
							font-weight: 900;
							margin-right: 5px;
							
							&:hover{
								cursor: pointer;
								background-color:$white;
							}
						}
						
					}
				}
			}
		}
		.right-image{
			margin-left: 5px;
			position: relative;
			img{
				width: 378px;
				height: 379px;
				object-fit: cover;
				padding-left: 62px;
			}
			.icon-box{
				display: inline-block;
				background-color: #996eeb;
				padding: 38px 38px;
				position: absolute;
				bottom: 28px;
				left: 13px;
				.icon{
					i{
						font-size: 35px;
						padding: 5px 5px;
						color: white;
					}
				}
			}
		}
	}
}

//responsive
@media only screen and (max-width:1024px){
	.our-service{
		.main-bx{
			.title{
				.first-heading{
					padding-bottom: 15px;
					h5{
						font-size: 15px;
						
					}
				}
				.second-heading{
					h2{
						width: 500px;
						font-size: 39px;
						color:$white;
						line-height: 52px;
					}
				}
			}
			.main-box{
				display:flex;
				.left-para{
					p{
						width: 267px;
						font-size: 15px;
						color:$white;
						line-height: 30px;
					}
				}
				.right-para{
					.services{
						padding-left: 16px;
						color:$white;
						li{
							font-size: 15px;
							padding-bottom: 20px;
							i{
								padding: 4px 5px;
								background-color: $secondary;
								border-radius: 74px;
								font-size: 9px;
							}
						}
					}
				}
			}
			.right-image{
				margin-left: 5px;
				position: relative;
				img{
					width: 365px;
					height: 365px;
					object-fit: cover;
					padding-left: 62px;
				}
				.icon-box{
					padding: 33px 33px;
					bottom: 28px;
					left: 20px;
					.icon{
						i{
							font-size: 30px;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width:768px){
	.our-service{
		.main-bx{
			.col-8{
				width:100%;
				.title{
					.first-heading{
						padding-bottom: 15px;
						h5{
							font-size: 15px;
						}
					}
					.second-heading{
						h2{
							width: 500px;
							font-size: 39px;
							color:$white;
							line-height: 52px;
						}
					}
				}
			}
			.main-box{
				display:flex;
				.left-para{
					p{
						width: 267px;
						font-size: 15px;
						color:$white;
						line-height: 30px;
					}
				}
				.right-para{
					.services{
						padding-left: 30px;
						color:$white;
						li{
							font-size: 15px;
							padding-bottom: 20px;
							i{
								padding: 4px 5px;
								background-color: $secondary;
								border-radius: 74px;
								font-size: 9px;
							}
						}
					}
				}
			}
			.right-image{
				display:none;
			}
		}
	}
}
@media only screen and (max-width:591px){
	.our-service{
		.main-bx{
			.col-8{
				width:100%;
				.title{
					.first-heading{
						padding-bottom: 10px;
						h5{
							font-size: 14px;
						}
					}
					.second-heading{
						h2{
							width: 302px;
							font-size: 33px;
							line-height: 48px;
						}
					}
				}
			}
			.main-box{
				display: flex;
				flex-wrap: wrap;
				.col-6{
					width:100%;
				}
				.col-6{
					width:100%;
					.right-para{
						.services{
							padding-left: 0px;
							li{
								font-size: 15px;
								padding-bottom: 15px;
								i{
									padding: 5px 5px;
									font-size: 8px;
								}
							}
						}
					}
				}
			}
			.right-image{
				display:none;
			}
		}
	}

}