//technology
.technology{
	background-image: url(../images/banner.jpeg);
    background-size: cover;
    width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
    object-fit: cover;
	//padding-bottom: 100px;
    padding-top: 100px;
	position: relative;
	
	&:after{
		content: "";
		height: 100%;
		left: 0;
		top: 0;
		width: 100%;
		position: absolute;		
		background-color:#170a2d;
		opacity: 0.5;		
	}
	.container{
	    z-index: 1;
		position: relative;
	}
	.title{
		.first-heading{
			padding-bottom:10px;
			h5{
				margin: 0;
				font-size:17px;
				color:$secondary;
			}
		}
		.second-heading{
			h2{
				margin:0;
				font-weight: 900;
				line-height: 50px;
				color:$white;
			}
		}
	}
	.para{
		p{
			font-size: 16px;
			line-height: 29px;
			color:$white;
		}
	}
	.btn-primary{
		margin-top: 21px;
		margin-bottom: 21px;
		&:hover{
			background-color:#805fde;
		}
	}
	.right-side{
		.space{
			.main-box{
				display: flex;
				margin: 0;
				padding-top: 9px;
				padding-bottom: 26px;
				li{
					display: flex;
					border: 1px solid grey;
					padding: 18px 20px;
					i{
						font-size: 30px;
						padding-right: 20px;
						color:$secondary;
					
					}
					h4{
						margin:0;
						font-size: 17px;
						padding-right: 29px;
						color:$white;
					}
					&:hover{
						cursor:pointer;
						background-color:$primary;
						border: 1px solid $secondary;
						i{
							color:$white;
						}
					}
					
				}
				.style-1{
					padding: 18px 27px;
				}
			}
		}
	}
}

//responsive
@media only screen and (max-width:1024px){
	.technology{
	//left content
		.title{
			.first-heading{
				padding-bottom:10px;
				h5{
					font-size: 16px;
				}
			}
			.second-heading{
				h2{
					font-size: 36px;
					width: 421px;
				}
			}
		}
		.para{
			p{
				font-size: 16px;
				line-height: 29px;
				width: 415px;
			}
		}
		.button{
			margin-top: 12px;
			margin-bottom: 12px;
			&:hover{
				background-color:#805fde;
			}
		}
		//right side
		.right-side{
			padding-top: 40px;
			.space{
				.main-box{
					padding-left: 0;
					li{
						padding: 18px 18px;
						i{
							font-size: 26px;
							padding-right: 14px;
						}
						h4{
							font-size: 18px;
						}
					}
					.style-1{
						padding: 19px 26px;
					}
				}
			}
		}
	}
}
@media only screen and (max-width:768px){
	.technology{
	//left content
		.title{
			.first-heading{
				padding-bottom:10px;
				h5{
					font-size: 16px;
				}
			}
			.second-heading{
				h2{
					font-size: 36px;
					width: 421px;
				}
			}
		}
		.para{
			p{
				font-size: 16px;
				line-height: 29px;
				width: 415px;
			}
		}
		.button{
			margin-top: 12px;
			margin-bottom: 12px;
			&:hover{
				background-color:#805fde;
			}
		}
		//right side
		.col-6{
			width:100%;
			.right-side{
				padding-top: 40px;
				.space{
					.main-box{
						padding-left: 0;
						li{
							padding: 18px 18px;
							i{
								font-size: 26px;
								padding-right: 14px;
							}
							h4{
								font-size: 18px;
							}
						}
						.style-1{
							padding: 19px 26px;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width:591px){
	.technology{
	//left content
		.title{
			.first-heading{
				padding-bottom:10px;
				h5{
					font-size: 16px;
				}
			}
			.second-heading{
				h2{
					font-size: 26px;
					line-height:44px;
					
				}
			}
		}
		.para{
			p{
				font-size: 14px;
				line-height: 28px;
				width: 298px;
			}
		}
		.button{
			padding: 10px 12px;
			.btn-primary{
				font-size: 13px;
				padding: 5px 7px;
			}
		}
		//right side
		.col-6{
			width:100%;
			.right-side{
				padding-top: 40px;
				.space{
					.main-box{
						padding-left: 0;
						li{
							padding: 18px 18px;
							i{
								font-size: 26px;
								padding-right: 14px;
							}
							h4{
								font-size: 15px;
							}
						}
						.style-1{
							padding: 19px 26px;
						}
					}
				}
			}
		}
	}
}