//slider-images
.slider{
	padding-top: 100px;
    padding-bottom: 100px;
	.image-gallery{
		.images{
			padding: 0 26px;
		}
	}
}
//responsive
@media only screen and (max-width:1024px){
	.slider{
		padding-top: 50px;
		padding-bottom: 50px;
		.image-gallery{
			.images{
				padding: 0 18px;
				img{
					width: 193px;
				}
			}
		}
	}
}
@media only screen and (max-width:768px){
	.slider{
		.col-3 {
			width: 25%;
			.image-gallery{
				.images{
					padding: 0 18px;
					img{
						width: 165px;
					}
				}
			}
		}
	}
}
@media only screen and (max-width:591px){
.slider{
	padding-top: 20px;
    padding-bottom: 20px;
		.col-3 {
			width: 50%;
			.image-gallery{
				.images{
					padding: 0 18px;
					img{
						width: 165px;
					}
				}
			}
		}
	}
}